{% extends 'base.html' %}{% load static %} {% block title %}Home{% endblock %}{% block side_navbar %}{% include 'parts/_side_navbar.html' %}{% endblock %} {% block content %} {% include 'parts/_logo_nav_side.html' %}
<div id="home-page" class="d-flex flex-column mt-3 w-100 gap-2">
  <div class="d-flex gap-2">
    <div class="btn-group dropend">
      <div data-bs-toggle="dropdown" role="button" aria-expanded="false">
        <input value="{{ user.id }}" class="d-none" id="current_user"/>
        {% if user.userprofile.picture %}
        <input value="{{ user.userprofile.picture.url }}" class="d-none" id="profilePicture"/>
        {% else %}
        <input value={% static "pictures/character.jpg" %} class="d-none" id="profilePicture"/>
        {% endif %}
        <img
          id="main-profile-picture"
          {% if user.userprofile.picture %}
          src="{{ user.userprofile.picture.url }}"
          alt="{{ user.userprofile }} profile"
          {% else %}
          src="{% static 'pictures/character.jpg' %}"
          alt="profile picture"
          {% endif %}
          alt=""
          class="profile-picture-notification rounded-circle"
        />
      </div>
      {% if request.user.company %}
      <ul class="dropdown-menu px-1 notification-dropdown" id="notifications">
        <li><h6 class="dropdown-header">Notifications</h6></li>
      </ul>
      {% endif %}
      
    </div>
    <div
      class="main-new-post d-flex justify-content-center align-items-center rounded-pill border border-1 w-100 border-dark"
      role="button"
      data-bs-toggle="modal"
      data-bs-target="#newPost"
      data-role="open"
    >
      Share new green post
    </div>
    <div class="main-new-post"
      role="button"
      data-bs-toggle="modal"
      data-bs-target="#newPost"
      data-role="open">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-images h-100"
        viewBox="0 0 16 16"
      >
        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
        <path
          d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10"
        />
      </svg>
    </div>
  </div>
  {% csrf_token %}
  <div class="d-flex flex-column w-100 mb-3">
    <span class="ps-3">Ads By Google</span>
    <div id="ads">
      <img src="{% static "pictures/ads.jpg" %}" alt="ads" class="w-100 h-100" />
    </div>
  </div>
  <div id="postsContainer" class="d-flex flex-column mt-3 w-100 gap-2"></div>
</div>
<div id="commentsContainer"></div>
<div id="repostsContainer"></div>
{% endblock %}
{% block bootstrap_modals %}
<div
  class="modal fade comments"
  id="comments"
  tabindex="-1"
  aria-labelledby="commentsLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable d-flex align-items-end m-0 h-100"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="serviceType2Label">
          Comments
        </h1>
      </div>
      <div class="modal-body d-flex flex-column gap-2">
        <div class="comment-content d-flex flex-column gap-2">
          <div class="mb-2 d-flex gap-2">
            <div class="comment-profile-picture">
              <img
                src="./pictures/Iman Gadzhi.jpeg"
                alt="profile picture"
                class="rounded-circle"
              />
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold small">Akram Bengueddoudj</span>
              <div class="small">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nulla, eius aperiam? Ex iure
              </div>
            </div>
          </div>
          <div class="mb-2 d-flex gap-2">
            <div class="comment-profile-picture">
              <img
                src="./pictures/Iman Gadzhi.jpeg"
                alt="profile picture"
                class="rounded-circle"
              />
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold small">Akram Bengueddoudj</span>
              <div class="small">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nulla, eius aperiam? Ex iure
              </div>
            </div>
          </div>
        </div>

        <hr class="mt-3 mb-0" />
        <div class="mb-2 d-flex align-items-center gap-2">
          <div class="comment-profile-picture">
            <img
              {% if user.userprofile.picture %}
              src="{{ user.userprofile.picture.url }}"
              alt="{{ user.userprofile }} profile"
              {% else %}
              src="{% static 'pictures/character.jpg' %}"
              alt="profile picture"
              {% endif %}
              class="rounded-circle"
            />
          </div>
          <div class="flex-grow-1">
            <input
              type="text"
              class="add-comment w-100"
              placeholder="Add a comment"
            />
          </div>
          <div
            class="btn btn-primary d-flex justify-content-center align-items-center rounded-pill"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="send-comment"
              viewBox="0 0 512 512"
            >
              <path
                d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="repost"
  tabindex="-1"
  aria-labelledby="repostLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column gap-4">
        <div>
          Do you want to repost this post? It will be shown on your profile
          for everyone
        </div>
        <div class="d-flex justify-content-end gap-2">
          <div
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cancel
          </div>
          <div class="btn btn-primary px-4">Repost</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="newPost"
  tabindex="-1"
  aria-labelledby="newPostLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="serviceType2Label">
          Create new Post
        </h1>
      </div>
      <div class="modal-body d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-2">
          <div class="post-profile-picture">
            <img
              id="new-post-profile-picture"
              {% if user.userprofile.picture %}
              src="{{ user.userprofile.picture.url }}"
              alt="{{ user.userprofile }} profile"
              {% else %}
              src="{% static 'pictures/character.jpg' %}"
              alt="profile picture"
              {% endif %}
              class="w-100 h-100 rounded-circle"
            />
          </div>
          <div class="d-flex flex-column">
            <span class="fw-bold" id="new-post-fullname"
              >{{user.first_name}} {{user.last_name}}</span
            ><span class="small" id="new-post-username"
              >@{{user.username}}</span
            >
          </div>
        </div>
        <textarea
          id="newPostCaption"
          class="form-control mdTextArea"
          placeholder="Write down your green ideas"
          maxlength="255"
        ></textarea>
        <div class="d-flex w-100 position-relative">
          <label
            class="d-flex flex-column justify-content-center align-items-center py-4 text-white w-100 z-1"
            for="picsForPost"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-images"
              viewBox="0 0 16 16"
            >
              <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
              <path
                d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10"
              />
            </svg>
            <span class="small fw-bold">Add pictures</span>
          </label>
          <div class="position-absolute bg-gallery z-0 rounded-2">
            <input
              type="file"
              id="picsForPost"
              accept="image/*"
              multiple
              class="d-none"
            />
          </div>
        </div>

        <div
          id="picsForPostContainer"
          class="w-100 row gy-2 align-items-center m-0"
        ></div>
        <div
          id="shareNewPostBtn"
          class="w-100 btn btn-primary"
        >
          Share
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{% static './js/accounts.js' %}"></script>
<script src="{% static './js/home.js' %}"></script>
{% endblock %}