{% extends 'base.html' %}{% load static %} {% block title %}create company account{% endblock %} {% block content %} {% include 'parts/_logo_nav.html' %}
<div class="d-flex flex-column gap-3 w-100 mt-3">
  <h2 class="h1 ps-3 fw-bold m-0">Sign Up</h2>
  <div class="w-100">
    <p class="text-justify m-0">
      Join the green wave! Sign up and start your journey towards a
      cleaner Algeria.
    </p>
    <div id="errors"></div>
  </div>
  <div class="w-100 d-flex flex-column gap-2">
    {% csrf_token %}
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="signup-name"
        placeholder="Company Name"
      />
      <label for="signup-name">Company Name</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-name-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="signup-email"
        placeholder="Email Address"
      />
      <label for="signup-email">Email Address</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-email-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="signup-password"
        placeholder="Password"
      />
      <label for="signup-password">Password</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-password-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="signup-repassword"
        placeholder="Re-Password"
      />
      <label for="signup-repassword">Re-Password</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-repassword-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="signup-phone"
        placeholder="Phone Number"
      />
      <label for="signup-phone">Phone Number</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-phone-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="signup-address"
        placeholder="Address"
      />
      <label for="signup-address">Address</label>
      <div
        class="small d-flex align-items-center d-none"
        id="signcompany-address-error"
      >
        <svg
          class="inline-svg me-1"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
        <p class="m-0" data-type="form-error-placeholder"></p>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <input
      type="button"
      value="Next"
      id="signcompany-signup-btn"
      class="btn btn-primary rounded-pill w-75"
    />
  </div>
</div>
{% endblock %}
{% block custom_js %}<script src="{% static './js/accounts.js' %}"></script>
{% endblock %}
